BOT_TOKEN=
DB_FPARMA_URI=mongodb://localhost:27017/fparma
DB_BOT_URI=mongodb://localhost:27017/fparmabot

FTP_HOST=
FTP_PORT=
FTP_USER=
FTP_PASSWORD=

FTP_CWD_REPOS=
FTP_DEPLOYED_REPO_INFO=
FTP_CWD_SERVER_MISSIONS=
FTP_REPOS=
